@import 'variables.scss';

.Music {
    // position: absolute;
    margin-top: 100px;
    width: 900px;
    height: 100%;
    width: 100vw;
    @media (max-width: $med-break) {
      margin-top: 0px;
    }

    .band {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 70vw;
      transition: left 400ms, right 400ms, top 400ms;
      z-index: 0;

      .socials {
        z-index: 20;
        a {
          color: $accent-1;
          margin: 0 4px;
        }
      }
      
      @media (max-width: $sm-break) {
        width: 80vw;
      }
      
      
      h2 {
          display: flex;
          align-items: center;
          > * {
              margin: 0 8px;
          }
        color: $accent-1;
          white-space: nowrap;
        }
        img {
            width: 250px;
            border-radius: 50%;
            
            @media (max-width: $sm-break) {
              width: 28vw;
              height: 20vw;
            }
            @media (max-width: $xs-break) {
              width: 150px;
              height: 150px;
             }
        }


        .body {
            display: flex;
            color: $white;
            @media (max-width: $med-break) {
                width: 80vw;
            }
            .description {
              @media (min-width: $med-break) {
                width: 40vw;
              }
              @media (max-width: $xs-break) {
                font-size: 14px;
              }
              a{
                color: $accent-2;
              }
            }
        } 
    }
}
