@import 'variables.scss';

.Choices {
  display: flex;
  justify-content: center;
  width: 500px;
  flex-wrap:wrap;
  margin: 0 auto;
  button {
    @include cta-1;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    margin: 10px;
  }
}
