@import 'variables.scss';

.Feral {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 400px;
    width: 40vw;
    transition: right 400ms;
    h2 {
        color: $accent-1;
        padding-right: 120px;
        margin-bottom: 0px;
    }
    img {
        width: 250px;
        border-radius: 50%;
    }

    .body {
        display: flex;
        flex-direction: row-reverse;
        color: $white;
        div {
            margin-top: 10px;
        }
    }

    &.open {
        right: 20vw;
    }

    &.closed {
        right: -40vw;
    }
}
