@import 'variables.scss';

.Feral {
    align-items: flex-end;
    top: 450px;

    @media (max-width: $med-break) {
      top: 300px;
    }

    // .socials {
    //   margin-right: 80px;
    // }

    h2, .socials {
        color: $accent-1;
        padding-right: 120px;
        margin-bottom: 0px;
        @media (max-width: $sm-break) {
          padding-right: 14vw;
        }
        @media (max-width: $xs-break) {
          padding-right: 75px;
        }
      }
      
      .socials {
        margin-right: 100px;
        margin-bottom: -20px;
        @media (max-width: $xs-break) {
          padding-right: 35px;
        }
    }

    .body {
        flex-direction: row-reverse;

        div {
          margin-top: 30px !important;
          margin-right: 15px;
        }
    }

    &.open {
        right: 20vw;
        @media (max-width: $med-break) {
            right: 10vw;
        }
    }

    &.closed {
        right: -200vw;
    }
}
