@import 'variables.scss';

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 30px 150px;
  transition: padding 400ms;
  @media (max-width: $med-break) {
    padding: 30px 50px;
  }
  @media (max-width: $sm-break) {
    padding: 20px 10px 10px;
  }
}

.in-progress {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bright-accent;
  font-size: 20px;
  white-space: nowrap;
  span {
    white-space: nowrap;
    font-family: 'Gloria Hallelujah', cursive;
  }
}
