@import 'variables.scss';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;

  @media (max-width: $med-break) {
    flex-direction: column-reverse;
  }

  main {
    position: relative;
    height: 100%;
    width: 100%;

    section {
      overflow: scroll;
      padding: 10px 250px;
    }
  }
}

.toast {
  overflow: auto;
}

.in-progress {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bright-accent;
  font-size: 20px;
  white-space: nowrap;
  span {
    white-space: nowrap;
    font-family: 'Gloria Hallelujah', cursive;
  }
}
