@import "variables.scss";

.Characters {
   position: absolute;
   transition: top 400ms, bottom 400ms;
   z-index: 15;
   width: 400px;

   button {
      margin: 4px;
   }
}

.PlayerSettings-menu-closed {
   .Characters {
      right: 10px;
   @media (min-width: $med-break) {
      top: -150px;
   }
   @media (max-width: $med-break) {
      bottom: -150px;
   }
   @media (max-width: 800px) {
      right: 0px;
      bottom: -100vh;
      width: 60vw;
   }
   }
}

.PlayerSettings-menu-open {
   .Characters {
      right: 10px;
   @media (min-width: $med-break) {
      top: 125px;
   }
   @media (max-width: $med-break) {
      bottom: 150px;
   }
   @media (max-width: $xs-break) {
      bottom: 41vw;
      margin: 0;
      right: 0;
      width: 60vw;
   }
   }
}
