@import "variables.scss";

.Characters {
    position: absolute;
    transition: top 400ms, bottom 400ms;
    z-index: 15;
}

.PlayerSettings-menu-closed {
   .Characters {
   @media (min-width: $med-break) {
      top: -150px;
   }
   @media (max-width: $med-break) {
      bottom: -150px;
   }
    right: 10px;
   }
}

.PlayerSettings-menu-open {
   right: 10px;
   .Characters {
   @media (min-width: $med-break) {
      top: 125px;
   }
   @media (max-width: $med-break) {
      bottom: 150px;
   }
   @media (max-width: $xs-break) {
      bottom: 41vw;
      right: -45px;
      margin: 0;
   }
   //  top: 125px;
   }
}
