@import 'variables.scss';

.Snarklet {
    h2, .socials {
        padding-left: 70px;
        margin-bottom: -15px;
    }

    top: 120px;

    .socials {
        margin-bottom: -31px;
        margin-left: 101px;
        margin-top: 20px;
        @media (max-width: $sm-break) {
            margin-left: 31px;
            margin-bottom: -16px;
        }
    }

    .body {
      div {
        margin-left: 10px;
      }
    }

    &.open {
        left: 10vw;
        @media (max-width: $med-break) {
            left: 10vw;
        }
    }

    &.closed {
        left: -200vw
    }
}
