@import 'variables.scss';

.Snarklet {
    h2 {
        padding-left: 70px;
        margin-bottom: -15px;
    }

    &.open {
        left: 20vw;
        @media (max-width: $med-break) {
            left: 10vw;
        }
    }

    &.closed {
        left: -200vw
    }
}
