@import 'variables.scss';

.Header { 
  .keyboard {
    position: relative;

    #spacebar, #left, #right {
      position: absolute;
      background: none;
      border: none;
      height: 48%;
      bottom: 3px;
      border-radius: 8px;
      cursor: pointer;
    }
    
    #spacebar {
      width: 48%;
      left: 18%;
    }
    #left, #right {
      width: 11%;
    }

    #left {
      left: 66.5%;
      width: 11%;
    }

    #right {
      left: 89%;
    }
  }

  nav {
    button {
      color: $bright-accent;
      background: none;
      border: solid $bright-accent 4px;
      font-weight: bold;
      margin: 0 4px;
      border-radius: 5px;
      padding: 8px 16px;
      cursor: pointer;
      transition: color 400ms, background 400ms, border-color 400ms;
      &:hover {
        background: $bright-accent;
        color: $background;
      }
      &:active {
        background: $dark-accent;
        color: $background;
        border-color: $dark-accent;
      }
    }
  }
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  #keys {
    width: 350px;
    transition: width 400ms;
  }
}
