@import 'variables.scss';

.Controls {
  position: absolute;
  left: 0;
  transition: top 400ms, left 400ms; 
  @media (max-width: $sm-break) {
    bottom: 5px;
    left: 0px;
  }
  @media (min-width: $sm-break) {
    top: 30px;
    left: 50px;
  }
  @media (min-width: $med-break) {
    top: 30px;
    left: 150px;
  }
  #keys {
    width: 350px;
    @media (max-width: $sm-break) {
      top: auto;
      width: 100%;
    }
  }

  #spacebar, #left, #right {
    position: absolute;
    background: none;
    border: none;
    height: 48%;
    bottom: 3px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #spacebar {
    width: 48%;
    left: 18%;
  }
  #left, #right {
    width: 11%;
  }

  #left {
    left: 66.5%;
    width: 11%;
  }

  #right {
    left: 89%;
  }
}

.Header { 
  @media (max-width: $sm-break) {
    align-items: center;
  }

  nav {
    button {
      color: $bright-accent;
      background: none;
      border: solid $bright-accent 4px;
      font-weight: bold;
      margin: 0 4px;
      border-radius: 5px;
      padding: 8px 16px;
      cursor: pointer;
      transition: 
        color 400ms, 
        background 400ms, 
        border-color 400ms,
        font-size 400ms,
        padding 400ms;

      @media (max-width: $med-break) {
        font-size: 12px;
        padding: 4px 8px;
      }

      &:hover {
        background: $bright-accent;
        color: $background;
      }
      &:active {
        background: $dark-accent;
        color: $background;
        border-color: $dark-accent;
      }
    }
  }
  
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  @media (max-width: $sm-break) {
    display: flex;
    justify-content: center;
  }
}
