@import 'variables.scss';

.Controls {
  z-index: 20;
  h1 {
    position:absolute;
    top: 0;
    font-family: 'Yellowtail', cursive;
    color: $accent-1;
    margin: 0;

    @media (max-width: $med-break) {  
      font-size: 26px;
    }

    @media (max-width: $sm-break) {
      font-size: 30px;
    }
  }

  position: absolute;
  left: 0;
  width: min-content;
  // bottom: 0;
  transition: top 400ms, left 400ms; 
  @media (max-width: $med-break) {
    bottom: 5px;
    left: 20px;
  }
  @media (min-width: $med-break) {
    top: 10px;
    left: 20px;
  }

  @media (max-width: $sm-break) {
    left: 5vw;
  }

  #keys {
    width: 350px;
    @media (max-width: $med-break) {
      width: 300px;
    }
    @media (max-width: $xs-break) {
      // top: auto;
      width: 90vw;
    }
  }

  #spacebar, #left, #right {
    position: absolute;
    background: none;
    border: none;
    height: 41%;
    bottom: 9px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #spacebar {
    width: 56.5%;
    left: 5px;
  }
  #left, #right {
    width: 12.5%;
  }

  #left {
    left: 59%;
  }

  #right {
    left: 86%;
  }
}

.Header { 
  @media (max-width: $sm-break) {
    align-items: center;
  }
  position: absolute;
  // top: 0;
  background-image: $black-tile;
  height: 118px;
  width: 100vw;
  border-bottom: 1px solid $accent-1;
  align-items: flex-end;
  margin-bottom: 100px;
  z-index: 10;

  nav {
    padding: 10px 20px;
    button {
      @include cta-1;

      padding: 6px 10px;
      @media (max-width: $med-break) {
        font-size: 10px;
        padding: 4px 8px;
      }

    }
  }
  
  display: flex;
  justify-content: flex-end;

  @media (min-width: $med-break) {
    top: 0;
  }

  @media (max-width: $med-break) {
    bottom: -1px;
    margin-bottom: 0;
    border-bottom: none;
    border-top: 1px solid $accent-1;
    align-items: flex-end;
  }
  @media (max-width: $xs-break) {
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 0;
    align-items: flex-start;

    nav {
      padding: 0;
      padding-top: 6px;
      }
    }
  }
