@import 'variables.scss';

.Home {
    position: relative;
    overflow: hidden;
    transition: width 400ms;
    width: 100vw;
    margin: 0 auto;
    &.closed {
        width: 0vw;
    }

    h2 {
        color: $accent-2;
        text-align: center;
        margin: auto -150px;

        @media (max-width: $xs-break) {
          text-align: left;
          margin: auto 0px;
          font-size: 20px;
        }
      }
      
      .content {
        margin-top: -160px;
        width:  calc(100% - 300px);
        padding: 30px 150px;
        @media (max-width: $xs-break) {
          padding: 30px 20px;
          width: calc(100% - 40px);
        }
    }
}

.banner {
  position: relative;
  width: 100vw;
  margin: 150px auto;
  z-index: 5;
  transition: margin-top 400ms;

  @media (max-width: $med-break) {
    margin-top: 40px;
  }
}

.motion, .lines {
  position: absolute;
  z-index: 0;
  top: 150px;
  left: 0;
  width: 100%;

  transition: top 400ms;

  @media (max-width: $med-break) {
    top: 40px;
  }
}

.motion, .lines, .banner {

}

.lines { 
    z-index: -20;
    
    &.open {
      transition: opacity 600ms;
      opacity: 0;
    }

    &.closed {
      transition: opacity 0ms;
      opacity: 1;
    }
}

