@import 'variables.scss';

body {
  background-image: $black-tile-2;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: 'Brexter';
  font-size: 2vw;
  span {
    font-size: 3vw;
    font-family: 'Yellowtail'
  }
}

.Card {
  h2 {
    border-bottom: 2px solid $accent-2;
  }

  h3 {
    font-family: 'Brexter';
    font-size: 1vw;
  }

  background-image: $white-tile;
  padding: 10px 30px;
  color: $black;
  width: min-content;
  white-space: nowrap;
  border-radius: 5px;
}
